body{
    margin:0;
    font-family:sans-serif;
    background:#0f172a;
    color:white;
}

.layout{
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:220px;
    padding:20px;
    background:#020617;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.sidebar button{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.sidebar button:hover{
    transform:scale(1.05);
}

/* MAIN */
main{
    flex:1;
    padding:20px;
}

/* VISTAS */
.view{
    display:none;
}

/* CARD */
.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
}

/* INPUTS */
input, textarea{
    width:100%;
    padding:10px;
    margin:5px 0;
    border-radius:10px;
    border:none;
}

/* POST */
.post{
    background:#1e293b;
    padding:15px;
    margin:10px 0;
    border-radius:15px;
    animation: fade 0.4s;
}

.post img{
    width:100%;
    border-radius:10px;
}

/* ANIMACIÓN */
@keyframes fade{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1;}
}

#respuesta{
    margin-top:15px;
    padding:15px;
    background:#020617;
    border-radius:10px;
    animation: fade 0.4s;
}